body {
  font-family: Arial;
  background: #f3f6fb;
}

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.form {
  width: 300px;
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.form input, .form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.preview {
  flex: 1;
}

#canvas-area {
  position: relative;
  width: 600px;
}

#bg {
  width: 100%;
}

#avatarPreview {
  position: absolute;
  top: 180px;
  left: 80px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
}

.text {
  position: absolute;
  left: 250px;
  color: #003366;
}

.name { top: 200px; font-size: 20px; font-weight: bold; }
.position { top: 235px; }
.wish { top: 270px; width: 300px; }
